/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.06.2017, 22:16:09
    Author     : Nicolás
*/

#name{
   visibility: hidden;
   background-color:black; 
}

#ChildTitleLabel{
    color: dodgerblue;
}

.klasse{
    
}