/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.06.2017, 22:16:09
    Author     : Nicolás
*/
.root {
    -fx-background-image: url("bg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: white;
    -icons-color: rgba(61,114,144,1);
}

.cont{
   -fx-background-color: transparent; 
}

 .label{
    -fx-text-fill: linear-gradient(to right, rgba(52,58,64,1), rgba(33,37,41,1) );  
 }

 .tab-pane *.tab-header-background{
        -fx-background-color: linear-gradient(to right, rgba(240,101,149,1), rgba(255,146,43,1), rgba(255,224,102,1), rgba(140,233,154,1), rgba(114,195,252,1), rgba(218,119,242,1));
 }
 .tab *.tab-label{
               -fx-cursor: hand;
               -fx-text-fill: linear-gradient(rgba(33,37,41,1), rgba(52,58,64,1));
               -fx-font-size: 14px;
               -fx-background: linear-gradient(to right, rgba(255,240,246,1), rgba(255,244,230,1), rgba(255,249,219,1), rgba(235,251,238,1), rgba(232,247,255,1), rgba(248,240,252,1)); 
               -fx-color: white;
 }  
 .button{
     -fx-text-fill: white;
     -fx-cursor: hand;
     
 } 
  .toggle-button{
     -fx-text-fill: white;
     -fx-cursor: hand;
 }
 .slider{
     -fx-cursor: hand;
     
 }

 .list-view{
          -fx-cursor: hand; 
 }
 
 .ContTime{
     -fx-cursor: hand;
     -fx-background-color: rgba(222,226,230,0.7);
     -fx-border-radius: 10px;
 }

 #ContBottom{
    -fx-background-color: rgba(33,37,41,0.2);
 }
 /* prev */
 #ChildPrevButton{
     -fx-background-color: linear-gradient(to right, rgba(156,54,181,1), rgba(27,110,194,1));
 }
 #ChildPrevButton:active{
     -fx-background-color: linear-gradient(to right, rgba(204,93,232,1), rgba(50,154,240,1));
 }
  #ChildPrevButton:hover{
     -fx-background-color: linear-gradient(to right, rgba(174,62,201,1), rgba(28,124,214,1));
  }

 #ChildPlayButton{
     -fx-background-color: linear-gradient(to right, rgba(27,110,194,1), rgba(55,178,77,1));
 }
 #ChildPlayButton:toggled{
     -fx-background-color: linear-gradient(to right, rgba(50,154,240,1), rgba(105,219,124,1));
 }
  #ChildPlayButton:hover{
     -fx-background-color: linear-gradient(to right, rgba(28,124,214,1), rgba(64,192,87,1));
 }

 #ChildSkipButton{
     -fx-background-color: linear-gradient(to right, rgba(55,178,77,1), rgba(245,159,0,1));
 }
 #ChildSkipButton:active{
     -fx-background-color: linear-gradient(to right, rgba(105,219,124,1), rgba(255,212,59,1));
 }
  #ChildSkipButton:hover{
     -fx-background-color: linear-gradient(to right, rgba(64,192,87,1), rgba(250,176,5,1));
 }

 #ChildStopButton{
     -fx-background-color: linear-gradient(to right, rgba(245,159,0,1), rgba(217,72,15,1));
 }
 #ChildStopButton:active{
     -fx-background-color: linear-gradient(to right, rgba(255,212,59,1), rgba(253,126,20,1));
 }
  #ChildStopButton:hover{
     -fx-background-color: linear-gradient(to right, rgba(250,176,5,1), rgba(232,89,12,1));
 }
 
 
 #ContVolume{
     -fx-background-color: linear-gradient(to right, rgba(217,72,15,1), rgba(194,37,92,1)); 
      -fx-border-radius: 10px;
 }
 
 #ContProgress{
     -fx-background-color: linear-gradient(to right, rgba(156,54,181,1), rgba(27,110,194,1), rgba(55,178,77,1), rgba(245,159,0,1), rgba(217,72,15,1), rgba(194,37,92,1));
      -fx-border-radius: 10px;
 }

 
  

 #ChildAddToQueueButton{
     -fx-background-color: linear-gradient(rgba(156,54,181,1), rgba(27,110,194,1));
 }
 #ChildAddToQueueButton:active{
     -fx-background-color: linear-gradient(rgba(204,93,232,1), rgba(50,154,240,1));
 }
  #ChildAddToQueueButton:hover{
     -fx-background-color: linear-gradient(rgba(174,62,201,1), rgba(28,124,214,1));
 }

 #ChildEmptyQueueButton{
     -fx-background-color: linear-gradient(rgba(27,110,194,1), rgba(55,178,77,1));
 }
 #ChildEmptyQueueButton:active{
     -fx-background-color: linear-gradient(rgba(50,154,240,1), rgba(105,219,124,1));
 }
  #ChildEmptyQueueButton:hover{
     -fx-background-color: linear-gradient(rgba(28,124,214,1), rgba(64,192,87,1));
 }
 
 #ChildPlayAllQueueButton{
     -fx-background-color: linear-gradient(rgba(55,178,77,1), rgba(245,159,0,1));
 }
 #ChildPlayAllQueueButton:active{
     -fx-background-color: linear-gradient(rgba(105,219,124,1), rgba(255,212,59,1));
 }
  #ChildPlayAllQueueButton:hover{
     -fx-background-color: linear-gradient(rgba(64,192,87,1), rgba(250,176,5,1));
 }
 
 #ChildLoopButton{
     -fx-background-color: linear-gradient(rgba(245,159,0,1), rgba(217,72,15,1));
 }
 #ChildLoopButton:toggled{
     -fx-background-color: linear-gradient(rgba(255,212,59,1), rgba(253,126,20,1));
 }
  #ChildLoopButton:hover{
     -fx-background-color: linear-gradient(rgba(250,176,5,1), rgba(232,89,12,1));
 }
 
 #ChildMixButton{
     -fx-background-color: linear-gradient(rgba(217,72,15,1), rgba(194,37,92,1));
 }
 #ChildMixButton:toggled{
     -fx-background-color: linear-gradient(rgba(253,126,20,1), rgba(240,101,149,1));
 }
  #ChildMixButton:hover{
     -fx-background-color: linear-gradient(rgba(232,89,12,1), rgba(214,51,108,1));
 }
 
 
 
  #ChildCreatePlaylistButton{
     -fx-background-color: linear-gradient(rgba(156,54,181,1), rgba(27,110,194,1));
 }
 #ChildCreatePlaylistButton:active{
     -fx-background-color: linear-gradient(rgba(204,93,232,1), rgba(50,154,240,1));
 }
  #ChildCreatePlaylistButton:hover{
     -fx-background-color: linear-gradient(rgba(174,62,201,1), rgba(28,124,214,1));
 }

 #ChildDeletePlaylistButton{
     -fx-background-color: linear-gradient(rgba(27,110,194,1), rgba(55,178,77,1));
 }
 #ChildDeletePlaylistButton:active{
     -fx-background-color: linear-gradient(rgba(50,154,240,1), rgba(105,219,124,1));
 }
 #ChildDeletePlaylistButton :hover{
     -fx-background-color: linear-gradient(rgba(28,124,214,1), rgba(64,192,87,1));
 }
 
 #ChildImportPlaylistButton{
     -fx-background-color: linear-gradient(rgba(55,178,77,1), rgba(245,159,0,1));
 }
 #ChildImportPlaylistButton:active{
     -fx-background-color: linear-gradient(rgba(105,219,124,1), rgba(255,212,59,1));
 }
  #ChildImportPlaylistButton:hover{
     -fx-background-color: linear-gradient(rgba(64,192,87,1), rgba(250,176,5,1));
 }
 
 #ChildExportPlaylistButton{
     -fx-background-color: linear-gradient(rgba(245,159,0,1), rgba(217,72,15,1));
 }
 #ChildExportPlaylistButton:toggled{
     -fx-background-color: linear-gradient(rgba(255,212,59,1), rgba(253,126,20,1));
 }
  #ChildExportPlaylistButton:hover{
     -fx-background-color: linear-gradient(rgba(250,176,5,1), rgba(232,89,12,1));
 }
 
 #ChildAddToQueuePlaylistButton{
     -fx-background-color: linear-gradient(rgba(217,72,15,1), rgba(194,37,92,1));
 }
 #ChildAddToQueuePlaylistButton:toggled{
     -fx-background-color: linear-gradient(rgba(253,126,20,1), rgba(240,101,149,1));
 }
  #ChildAddToQueuePlaylistButton:hover{
     -fx-background-color: linear-gradient(rgba(232,89,12,1), rgba(214,51,108,1));
 }
 
 #ChildImportTracklistButton{
-fx-background-color: linear-gradient(rgba(156,54,181,1), rgba(27,110,194,1));
 }
 #ChildImportTracklistButton:active{
     -fx-background-color: linear-gradient( rgba(204,93,232,1), rgba(50,154,240,1));
 }
  #ChildImportTracklistButton:hover{
     -fx-background-color: linear-gradient( rgba(174,62,201,1), rgba(28,124,214,1));
 }
 
 #ChildDeleteTracklistButton{
     -fx-background-color: linear-gradient(rgba(27,110,194,1), rgba(55,178,77,1));
 }
 #ChildDeleteTracklistButton:active{
     -fx-background-color: linear-gradient(rgba(50,154,240,1), rgba(105,219,124,1));
 }
  #ChildDeleteTracklistButton:hover{
     -fx-background-color: linear-gradient(rgba(28,124,214,1), rgba(64,192,87,1));
 }
 
 #ChildAddToQueueTracklistButton{
     -fx-background-color: linear-gradient(rgba(55,178,77,1), rgba(245,159,0,1));
 }
 #ChildAddToQueueTracklistButton:active{
     -fx-background-color: linear-gradient(rgba(105,219,124,1), rgba(255,212,59,1));
 }
  #ChildAddToQueueTracklistButton:hover{
     -fx-background-color: linear-gradient(rgba(64,192,87,1), rgba(250,176,5,1));
 }
 
 #ChildAddToPlaylistTracklistButton{
     -fx-background-color: linear-gradient(rgba(245,159,0,1) 0%, rgba(217,72,15,1), rgba(194,37,92,1));
    }
    #ChildAddToPlaylistTracklistButton:active{
     -fx-background-color: linear-gradient(rgba(255,212,59,1), rgba(253,126,20,1), rgba(240,101,149,1));
 }
  #ChildAddToPlaylistTracklistButton:hover{
     -fx-background-color: linear-gradient(rgba(250,176,5,1), rgba(232,89,12,1), rgba(214,51,108,1));
 }
 
 

 